@font-face {
    font-family : "DynaPuff";
    font-weight: 400;
    src : url(fonts/DynaPuffCondensed/DynaPuff_Condensed-Regular.ttf);
} 
.DynaPuff {
    font-family : 'DynaPuff', 'Comic Sans MS', cursive;
}